<div class="popup-container">
  <div class="popup-head">
    <div class="popup-img">
      <img class="design-img" src="" />
    </div>
    <div class="popup-header">
      <h3 class="design-name"></h3>
      <p class="design-info"></p>
      <span class="close toggle" data-target="myPopup">close</span>
    </div>
  </div>
  <div class="popup-body">
    <p class="design-main-des"></p>
  </div>
</div>